$main-theme-color: #ff2f2f;

@mixin h2{
    -webkit-background-clip: text;
    background-clip: text;
    color: black;

    font-size: 2.5rem;
    font-weight: 800;
    width: calc(30%);
    height: fit-content;
    text-align: center;
    padding: 16px;
}

@mixin text($size:1rem){
    @include noto-sans-tc();
    color: #000000;
    font-size: $size;
    font-weight: 1rem;
    width: calc(30%);
    height: fit-content;
    text-align: center;
    padding: 16px;
}

@mixin input{
    @include noto-sans-tc();
    color: #000000;
    font-size: $size;
    font-weight: 1rem;
    width: calc(30%);
    height: fit-content;
    text-align: center;
    padding: 16px;
}

@mixin noto-sans-tc($weight: 500) {
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: $weight;
    font-style: normal;
}
@mixin textGradient($color: $main-theme-color) {
    background: linear-gradient(to right, $color, #3b3b3b);
    // Clip the background to the text
    -webkit-background-clip: text;
    background-clip: text;
    // Set the fill color to transparent to allow the background gradient to show through
    color: transparent;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 12px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 1px 5px 5px;
    position: fixed;
    top: 0;

    #title {
        @include textGradient();
        font-size: 2.5rem;
        font-weight: 800;
        width: 30%;
        height: fit-content;
        text-align: center;
        text-wrap: nowrap;
        a{
            text-decoration: none;
            @include textGradient();
        }
    }

    .nav {
        display: flex;
        margin-right: 1rem;
        gap: 1rem;
        align-self: center;
        a {
            @include noto-sans-tc();
            font-size: 1.5rem;
            appearance: none;
            background-color: transparent;
            border: none;
            color: #3b3b3b;
            cursor: pointer;
            outline: none;
            padding: 16px 24px;
            text-align: center;
            text-decoration: none;
            user-select: none;
            -webkit-user-select: none;
            width: fit-content;
            align-self: center;
        }

        a:disabled {
            pointer-events: none;
        }

        a:hover {
            color: #fff;
            background-color: #1a1a1a;
            box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
            border-radius: 15px;
        }

        a:active {
            box-shadow: none;
        }
    }
}

.content {
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-top: 10vh;
        height: 65vh;
        h2{
            @include h2();
        }
        .info{
            display: flex;
            flex-direction: column;
            margin-left: 8rem;
            gap: 1rem;
            label{
                @include text(1.5rem);
            }    
            input{
                @include noto-sans-tc();
                color: #000000;
                font-size: 1.5rem;
                font-weight: 1rem;
                width: 50%;
                height: 1.5rem;
                text-align: center;
                padding: 16px;
            }    
        }
        #submit{
            @include noto-sans-tc();
            color: #000000;
            font-size: 1.2rem;
            font-weight: 1rem;
            width: 6rem;
            height: 4rem;
            text-align: center;
            cursor: pointer;
            color: #fff;
            background-color: #1a1a1a;
            border-radius: 15px;
            &:hover{
                background: linear-gradient(to bottom, $main-theme-color, #3b3b3b);
                font-size: 1.5rem;
                box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
            }
        }  
        a{
            @include text(1rem);
            text-decoration: none;
        }  
        a:disabled {
            pointer-events: none;
        }
        a:hover {
            color: #fff;
            background-color: #1a1a1a;
            box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
            border-radius: 15px;
        }

        a:active {
            box-shadow: none;
        }
    }
}

.footer{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 25vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px -5px 5px;
    #title{
        @include textGradient($main-theme-color);
        font-size: 2.5rem;
        font-weight: 800;
        width: 30%;
        height: fit-content;
        text-align: center;
        text-wrap: nowrap;
    }
    .info{
        font-size: 1.2rem;
        font-weight: 500;
        width: 30%;
        height: fit-content;
        text-align: left;
        text-wrap: nowrap;

        @include noto-sans-tc();
        color: #000000;
    }
     a#footer-link {
        margin-left: 20%;
        @include noto-sans-tc();
        font-size: 1.2rem;
        appearance: none;
        background-color: transparent;
        border: none;
        color: #3b3b3b;
        cursor: pointer;
        outline: none;
        padding: 16px 24px;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        width: fit-content;
        align-self: center;
    }

   a:disabled#footer-link {
        pointer-events: none;
    }

    a:hover#footer-link {
        color: #fff;
        background-color: #1a1a1a;
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        border-radius: 15px;
    }

    a:active#footer-link {
        box-shadow: none;
    }
}